#form {
    height: 400px;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
    background-color: #3AD886;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputs {
    width: 90%;


}

img {
    height: 150px;
    width: 250px;
}

.form-button {
    background-color: #ED6B59;
}
