.header {
    height: 20vh;
    width: 100vw;
    background-color: #AB2A19;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-button {
    background-color: #ED6B59;
    height: 25px;
    widows: 40px;
}

